# tools file
.cache/
.vscode/

# binary file
build/

# sth don't know even myself
resources/

# test frame, and is useless now
include/test/

# other binary files may scattering somewhere
*.out
*.so
*.o
*.d
*.s
*.S

# office
*.csv
*.xlsx
*.pdf

# img
*.png
*.jpg
*.jpeg
*.gif
*.webp

# video
*.mp4